<html>
<head>
  <title>Add Person</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#submitBtn').click(function (e) {
        e.preventDefault();

        var person = {
          firstName: $('#firstName').val(),
          lastName: $('#lastName').val(),
          oib: $('#oib').val(),
          status: $('#status').val()
        };

        $.ajax({
          url: 'http://localhost:8080/api/person/',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(person),
          headers: {
            'Authorization': 'Basic ' + btoa('apiUser:password')
          },
          success: function (response) {
            alert("Person successfully added");
          },
          error: function (error) {
            alert(error.responseJSON.debugMessage);
          }
        });
      });
    });
  </script>
</head>
<body>
<h2>Add Person</h2>
<form>
  <label for="firstName">First Name:</label><br>
  <input type="text" id="firstName" name="firstName"><br>
  <label for="lastName">Last Name:</label><br>
  <input type="text" id="lastName" name="lastName"><br>
  <label for="oib">OIB:</label><br>
  <input type="text" id="oib" name="oib"><br>
  <label for="status">Status:</label><br>
  <input type="text" id="status" name="status"><br>
  <button id="submitBtn">Submit</button>
</form>
</body>
</html>
